@{
    ViewData["Title"] = "Home Page";
}
<style>
    button {
        margin-right: 10px;
    }
</style>
<div id="MainContainer" class="text-center">

</div>
<form id="UserInputForm" name="UserInputForm">
    <table>
        <tbody>
            <tr>
                <td>
                    <lable for="User">User</lable>
                </td>
                <td>
                    <input type="text" id="User" name="User" />
                </td>

            </tr>
            <tr>
                <td>
                    <label for="Password">Password</label>
                </td>
                <td>
                    <input type="password" id="Password" name="Password" />
                </td>

            </tr>
            <tr>
                <td colspan="2">
                    <button>Register</button>

                </td>
            </tr>

        </tbody>
    </table>
</form>
@section Scripts
{
    <script src="~/js/Index.js"></script>
}
