@{
    ViewData["Title"] = "Home Page";
}
<style>
    button {
        margin-right: 10px;
    }
</style>
<div id="MainContainer" class="text-center">

</div>
@section Scripts
{
    <script src="~/js/Index.js"></script>
}